*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    max-width: 800px;
    margin: 0 auto; 
}

h2, h3{
    color: white;
}

h2{
    font-size: small;
    margin: 2px 0px 0px 2px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2px 0px 0px 2px ;
}

a{
    color: lightblue;
    margin: 2px 0px 0px 2px ;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    
}

.box{
    border: 5px solid white;
    float: left;
    width: calc(100%/3);
    background-color: black;
    margin-bottom: 30px;
    
}


.clearfix::after{
    content: '';
    display: block;
    clear: both;
}


h1{
    font-family: 'Rowdies', cursive;
    color: deeppink;
    text-align: center;
    padding-top: 15px;
}

p{
    padding-top: 40px;
    font-family: 'Rowdies', cursive;
    font-size: small;
}

.box-img{
    float: left;
    width: 30%;
}

.box-txt{
    float: left;
    width: 70%;
    padding: 10px 0px 0px 10px;
}

.img{
    width: 100%;
    display: block;
}

